{% extends 'base.html' %}

{% block content %}
    <h1 class="pb-2 mt-4 mb-4 border-bottom">Customer List</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for customer in object_list %}
                <tr>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td class="text-center">
                        <a class="btn btn-info" href="{{ customer.get_absolute_url }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="text-center" colspan="4">
                    Sorry, there is nothing to display here.
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}